@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* HEADER */

header {
  background-color: black;
  padding: 24px;
}

.header-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: yellow;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: center;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: white;
}

.left-links a:hover,
.right-links a:hover {
  color: yellow;
  transition: color 0.25s;
}

/* SECTION */
section {
  padding: 24px;
  background-color: black;
}

.section-container {
  display: flex;
  width: 50%;
  margin: 36px auto;
  align-items: stretch;
  gap: 32px;
}

.section-text {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
}

.section-text h2 {
  font-size: 48px;
  margin-bottom: 36px;
}

.section-text p {
  font-size: 18px;
  margin-bottom: 12px;
}

.section-text button {
  border: 2px solid yellow;
  color: yellow;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
  align-self: flex-start;
}

.section-text button:hover {
  background-color: yellow;
  color: black;
  transition: all 0.25s;
  cursor: pointer;
}

.section-img img {
  width: 350px;
}
