@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(227, 227, 227);
}

/* HEADER */

header {
  background-color: black;
  padding: 24px;
}

.header-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: yellow;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: center;
}

.left-links,
.right-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.left-links a,
.right-links a {
  text-decoration: none;
  color: white;
}

.left-links a:hover,
.right-links a:hover {
  color: yellow;
  transition: color 0.25s;
}

/* MAIN SECTION */
.main-section {
  padding: 24px;
  background-color: black;
}

.main-section-container {
  display: flex;
  width: 75%;
  margin: 36px auto;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
}

.main-section-content {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap-reverse;
}

.fa-arrow-left,
.fa-arrow-right {
  color: rgb(114, 114, 114);
  font-size: 24px;
  border: 2px solid rgb(114, 114, 114);
  padding: 10px 16px;
  border-radius: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  border-color: rgb(161, 161, 161);
  color: rgb(161, 161, 161);
}

.section-text {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.section-text h2 {
  font-size: 48px;
  margin-bottom: 36px;
}

.section-text p {
  font-size: 18px;
  margin-bottom: 12px;
}

.section-text button {
  border: 2px solid yellow;
  color: yellow;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
  align-self: flex-start;
}

.section-text button:hover {
  background-color: yellow;
  color: black;
  transition: all 0.25s;
  cursor: pointer;
}

.section-img img {
  max-width: 100%;
  height: auto;
}

/* RELEASES SECTION */
.releases-section {
  padding: 24px;
}

.releases-section-container {
  margin: 36px auto;
  width: 75%;
}

.releases-section-container h2 {
  font-size: 48px;
  margin-bottom: 72px;
  color: rgb(79, 79, 79);
  text-align: center;
  text-transform: uppercase;
}

.container-cards {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.card p {
  margin: 16px auto;
  color: rgb(79, 79, 79);
}

.card:hover {
  opacity: 80%;
  cursor: pointer;
}

.container-cards img {
  width: 250px;
  height: 400px;
}

/* QUOTE SECTION */

.quote-section-container {
  background-color: white;
  border-radius: 1em;
  width: 50%;
  margin: 100px auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.quote-section-container p:first-of-type {
  font-size: 28px;
  font-weight: 100;
  color: rgb(83, 83, 83);
}

.quote-section-container p:last-of-type {
  font-weight: 100;
  color: rgb(32, 32, 32);
  align-self: flex-end;
}
